* {
    padding: 0;
    margin: 0;

}


header {
    height: 100px;
}

.header-contenido {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    padding-left: 150px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h2 {

    font-size: 35px;
    font-weight: 100;
    padding: 15px;

}

/*PARTE DOS DEL HEADER*/

.menu {
    margin: 30px 50px 0 0;

}

.navitems {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navitems li {
    padding: 25px;
    margin-right: 35px;
}

.navitems li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}


.navitems li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 50%;
    background: black;

    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;

}

.navitems li a:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}



/*SECTION 1*/

.contenedor {

    width: 100%;
    height: auto;
    margin: 100px 0 150px 0;
    display: flex;
    flex-direction: column;

}

.box1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 70px;
}

.box-uno {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 300px;
    padding-right: 50px;
}


.box-dos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 1px solid black;
    height: 50%;
    margin: 50px 200px 0 40px;
    padding: 0 0 10px 50px;
}

.box-dos h3 {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
    padding-bottom: 10px;
}

.box-dos p {
    color: grey;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    word-spacing: 1px;
    margin-right: 100px;
}

/* parte del div con imagen y botones */

.caja-dos img {
    width: 1220px;
    height: 450px;
}

.caja-dos {
    display: flex;
    justify-content: flex-end;
}

.botones {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -70px;
    height: 70px;
}


.botones a {
    text-decoration: none;
    font-size: 25px;
    margin: 0 3px 0 3px;
    padding: 0 50px 0 50px;
}

.botones .button-uno {
    background-color: black;
}

.flecha-uno {
    color: white;
}

.botones .button-dos {
    background-color: #F5F5DC;
    border: 2px solid #F5F5DC;
}

.flecha-dos {
    color: #DCDCDC;
}

/*SECTION DOS*/

.contenedordos {
    width: 100%;
    height: 100%;
    margin: 10% 0 10% 0;
    display: flex;
    justify-content: space-between;
}

.foto img {
    height: 840px;
    width: 600px;
}


.letras {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 50px 50px 0 50px;
    padding: 0 20px 0 20px;
}

.letras h2 {
    font-size: 50px;
    font-weight: 600;
    margin-right: 300px;
    padding-bottom: 15px;
}

.letras .parrafo-uno {
    color: #778899;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    line-height: 30px;
    margin-right: 200px;
    padding: 10px 0 50px 0;

}


.letras i {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 15px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 15px;
    border-radius: 30px;
}

.letras .parrafo-dos {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
    margin-right: 300px;
}

.botonesdos {
    position: relative;
    display: flex;
    top: 110px;
    right: 205px;
    height: 65px;
    margin-bottom: 5px;
}

.botonesdos a {
    text-decoration: none;
    font-size: 25px;
    margin: 0 3px 0 3px;
    padding: 0 50px 0 50px;
}

.botonesdos .button-tres {
    background-color: #F5F5DC;
    border: 2px solid #F5F5DC;
}

.flecha-tres {
    color: #DCDCDC;
}

.botonesdos .button-cuatro {
    background-color: black;
}

.flecha-cuatro {
    color: white;
}

/*SECTION TRES*/

.contenedor-tres {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}


.contenido-uno img {
    width: 650px;
    height: 500px;


}

.contenido-dos img {
    width: 500px;
    height: 600px;
}


.contenido {

    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.contenido-uno {
    padding: 10px;
    margin: 30px 0 0 50px;
    position: relative;
    z-index: 10;
    left: 20px;


}

.contenido-uno h2 {
    font-size: 50px;
    font-weight: 600;
    margin-right: 200px;
    padding-bottom: 20px;
}

.contenido-uno p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: grey;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 1px;
    padding-right: 100px;
    margin-bottom: 20px;
}

.contenido-uno h4 {

    margin-bottom: 40px;
}


.contenido-dos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 30px 100px 0 0;
    position: relative;
    right: 50px;
}

.contenido-dos h3 {
    font-size: 20px;
    padding: 20px 20px 15px 20px;
    margin: 30px 100px 0 100px;
}

.contenido-dos p,
.link2 {
    color: grey;
    font-size: 20px;
    line-height: 20px;
    word-spacing: 1px;
    padding: 0 20px 0 20px;
    margin: 0 100px 30px 100px;
}

/*SECTION CUATRO*/

.contenedor-cuatro {
    width: 100%;
    height: auto;
    background-color: #F0F8FF;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fotos img {
    width: 150px;
    height: 150px;
}

.fotos-uno {
    position: relative;
    z-index: 10;
}

.fotos-dos {
    position: relative;
    z-index: 20;
    bottom: 130px;
    left: 25px;
}

.perfil {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.perfil .fotos {
    padding-right: 25px;

}

.info {
    margin-top: 15%;
    padding-left: 25px;
}

.info h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
}

.info h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #A9A9A9;
    font-weight: 500;
    padding-bottom: 15px;
}

.info i {
    font-size: 20px;
    margin: 5px 10px 0 0;
}

.perfil-dos {
    text-align: center;
    margin: 0 20% 30px 20%;
    position: relative;
    bottom: 80px;
}

.perfil-dos p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 1px;
}


/*QUINTA SECTION*/

.contenedor-cinco {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15%;
}


.caja1 {
    margin: 30px 0 0 130px;
}

.caja1 h2 {
    font-size: 50px;
    font-weight: 600;

}

.caja1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-size: 20px;
    word-spacing: 1px;
    line-height: 30px;
    margin: 0 250px 150px 0;
    padding-top: 15px;
}

.botonestres {
    display: flex;
    height: 65px;
}

.botonestres a {
    text-decoration: none;
    font-size: 25px;
    margin: 0 3px 0 3px;
    padding: 0 50px 0 50px;
}

.botonestres .button-cinco {
    background-color: #F5F5DC;
    border: 2px solid #F5F5DC;
}

.flecha-cinco {
    color: #DCDCDC;
}

.botonestres .button-seis {
    background-color: black;
}

.flecha-seis {
    color: white;
}

.caja2 img {
    width: 150px;
    height: 150px;
}


.caja2 {
    margin-top: 50px;
    margin-right: 150px;
}

.caja2 .turismo,
.turismo-dos {
    display: flex;
    justify-content: space-between;

}


.turismo {
    margin-bottom: 80px;
}

.montaña,
.paisaje {
    margin-right: 35px;

}

.montaña-info h2,
.paisaje-info h2 {
    font-weight: 600;
    margin-bottom: 15px;

}

.montaña-info p,
.paisaje-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    line-height: 20px;
    word-spacing: 1px;
}

/*footer*/


.footer-contenido {
    background-color: #2B2928;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-dos img {
    width: 50px;
    height: 50px;
}

.logo-dos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
    margin: 50px 0 120px 100px;
    display: flex;
    align-items: center;
}

.logo-dos h2 {
    color: white;
    font-size: 35px;
    font-weight: 100;
    padding: 10px;
}

.footer-lista {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0 0 30px;
    padding: auto;
    display: flex;
    justify-content: space-around;
}

.footer-lista ul {
    list-style: none;
    padding: 0 100px 0 100px;
}

.footer-lista li {
    margin: auto;
    padding-bottom: 25px;
}

.footer-lista li a,
.footer-info a {
    text-decoration: none;
    list-style: none;
    color: grey;

}

.footer-info {
    margin: 100px 0 120px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-info ul {
    list-style: none;

}

.footer-info li {
    padding-bottom: 15px;
}


.email {
    padding: 10px 15px;
    border: 0;
    color: white;
    background-color: #646464;
}

::placeholder {
    color: rgb(170, 169, 169);
}

.btn {
    font-weight: 600;
    margin-left: 10px;
    padding: 10px 20px;
    border: 0;
    background: #646464;
    color: #ffffff;
}

.footer-iconos {
    margin-top: 20px;
}

.fa-twitter {
    padding-right: 40px;
}


/*MEDIA QUERIES   

/*mobile*/
@media all and (max-width:480px) {

     .header-contenido{
        flex-direction: column;
        align-items:center ;
        background-color: beige;
     }

    .logo {
        padding: 15px;
        margin-left: 20px;
    }
    
    .menu{
        margin: 0;
        padding-left: 20px;
    }

    .navitems li{
       margin: 0;
    }


    .box1 {
        margin-top: 50px;
        flex-direction: column;
    }


    .box-uno,
    .box-dos {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 20px;
    }

    .box-dos{
        margin-top: 15px;
    }

    .box-dos p{
        font-size: 15px;
        margin: 0;
    }

  .box2 img{
    display: none;
    
  }

  .box2 .botones{
    top: 20px;
    right: 110px;

  }

  .foto img{
    display: none;

  }

  .letras{
    text-align: center;

  }

  .letras h2{
    padding: 0;
    margin: 0;
    font-size: 50px;
  }

  .letras .parrafo-uno, .letras .parrafo-dos{
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 15px;

  }
.letras .parrafo-dos{
    position: relative;
    left: 10px;
    bottom: 70px;
    
}
  .letras i{
    position: relative;
     margin: 40px 0 0 0;
     right: 40px;
     
  }

  .botonesdos{
    left: 25px;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .contenido{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 40px 20px 0 0;

  }
  .contenido img{
    display: none;
  }

  .contenido-uno, .contenido-dos{
    margin: 0;
  }

  .contenido-uno h2{
    font-size: 50px;
    margin: 0;
  }

  .contenido-uno p, .contenido-dos p{
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
.contenido-uno h4, .contenido-dos h4{
    margin-top: 20px;
    font-size: 15px;
}

.contenido-dos h3{
    padding: 0;
    margin: 0 0 10px 0;
   
}

.contenido-dos{
    bottom: 20px;
    left: 20px;
}

.perfil-dos{
    margin: 0;
    padding: 0 50px 0 50px;
}
.perfil-dos p{
    font-size: 15px;
}

.contenedor-cinco{
    flex-direction: column;
}

.caja1{
    align-items: center;
    margin: 10px 50px 0 50px;
}

.caja1 h2{
    font-size: 50px;
}

.caja1 p{
    font-size: 15px;
    margin: 0;
    padding-top: 20px;
}

.botonestres{
    margin: 50px 0 50px 0;
}
.caja2{
    margin: 20px 0 0 0;
    padding: 0;
}

.caja2 img{
    padding-left: 20px;
}

.caja2 h2{
    font-size: 20px;
}

.caja2 p{
    font-size: 15px;
}

.footer-contenido{
    width: 100%;
    flex-direction: column;
    
}
.footer-contenido .logo-dos{
   margin: 30px 0 0 0;
   position: relative;
   right: 140px;
   
}

.logo-dos img{
    height: 40px;
    width: 40px;
}

.logo-dos h2{
    font-size: 25px;
    margin: 0 15px 0 15px;
}

.footer-lista{
    margin: 15px 15px 15px 15px;
}
.footer-lista ul{
    display: flex;
    margin: 0;
    padding: 0;
  
}

.footer-lista li{
   
    padding: 15px;
}

.footer-info{
    margin: 0;
   
}
.footer-info ul{
    display: none;

}

.footer-info .footer-mail input{
    width: 100px;
    position: relative;
    bottom: 140px;
    left: 100px;
   margin: 0;
}

.footer-iconos{
    display: none;
}

}


